<mat-card class='campSchedule' align='center'>
  <a mat-button class='footerTitle' href="">
    <h1>CAMP SCHEDULE</h1>
  </a>
  <mat-card-content>
    <p class='footerText'>Find out what programme is happening now, later and what to bring</p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-icon-button>
      <mat-icon svgIcon="forward-arrow">-></mat-icon>
    </a>
  </mat-card-actions>
</mat-card>

<mat-card class='campersInfo' align='center'>
  <a mat-button class='footerTitle' href="">
    <h1>CAMPERS INFO</h1>
  </a>
  <mat-card-content>
    <p class='footerText'>Check out what workshop you belong to and what to bring for it</p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-icon-button>
      <mat-icon svgIcon="forward-arrow">-></mat-icon>
    </a>
  </mat-card-actions>
</mat-card>

<mat-card class='thanksgiving' align='center'>
  <a mat-button class='footerTitle' href="">
    <h1>THANKSGIVING</h1>
  </a>
  <mat-card-content>
    <p class='footerText'>Share with us your testimonies and breakthroughs during camp!</p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-icon-button>
      <mat-icon svgIcon="forward-arrow">-></mat-icon>
    </a>
  </mat-card-actions>
</mat-card>

<mat-card class='campInfo' align='center'>
  <a mat-button class='footerTitle' href="">
    <h1>CAMP INFO</h1>
  </a>
  <mat-card-content>
    <p class='footerText'>Emergency hotline, lost and found, and administrative matters</p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-icon-button>
      <mat-icon svgIcon="forward-arrow">-></mat-icon>
    </a>
  </mat-card-actions>
</mat-card>


<mat-card class='footer' align='center'>
  <a style='margin-right: 1vw' mat-icon-button href="https://www.facebook.com/profile.php?id=100005191305022" target="blank">
    <mat-icon svgIcon="fb" style='color:black'>FB</mat-icon>
  </a>
  
  <a style='margin-left: 1vw' mat-icon-button href="https://www.instagram.com/hopeuni/" target="blank">
    <mat-icon svgIcon="ig" style='color:black'>IG</mat-icon>
  </a>
</mat-card>

<!--
<div>Icons made by
  <a href="https://www.flaticon.com/authors/bogdan-rosu" title="Bogdan Rosu">Bogdan Rosu</a> from
  <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
  <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
    target="_blank">CC 3.0 BY</a>
</div>

<div>Icons made by
  <a href="https://www.flaticon.com/authors/bogdan-rosu" title="Bogdan Rosu">Bogdan Rosu</a> from
  <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
  <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
    target="_blank">CC 3.0 BY</a>
</div> 
-->
