<!-- <ng-container *ngIf="isLoggedIn()"> -->
	<a [routerLink]="['schedule']" href='#'>
	  <mat-card class='campSchedule footerItem' align='center'>
	    <h1 class='footer-title'>CAMP SCHEDULE</h1>
	    <mat-card-content>
	      <p class='footerText'>Find out what programme is happening now, later and what to bring</p>
	    </mat-card-content>
	    <mat-card-actions>
	      <mat-icon class="black" svgIcon="forward-arrow">-></mat-icon>
	    </mat-card-actions>
	  </mat-card>
	</a>

	<a [routerLink]="['camper']" href='#'>
	  <mat-card class='campersInfo footerItem' align='center'>
	    <h1 class='footer-title'>CAMPERS INFO</h1>
	    <mat-card-content>
	      <p class='footerText'>Check out what workshop you belong to and what to bring for it</p>
	    </mat-card-content>
	    <mat-card-actions>
	      <mat-icon svgIcon="forward-arrow">-></mat-icon>
	    </mat-card-actions>
	  </mat-card>
	</a>

	<mat-card class='thanksgiving footerItem' align='center'>
	  <h1 class='footer-title'>THANKSGIVING</h1>
	  <mat-card-content>
	    <p class='footerText'>Share with us your testimonies and breakthroughs during camp!</p>
	  </mat-card-content>
	  <mat-card-actions>
	    <mat-icon svgIcon="forward-arrow">-></mat-icon>
	  </mat-card-actions>
	</mat-card>

	<a [routerLink]="['campinfo']" href='#'>
		<mat-card class='campInfo footerItem' align='center'>
			<h1 class='footer-title'>CAMP INFO</h1>
			<mat-card-content>
				<p class='footerText'>Emergency hotline, lost and found, and administrative matters</p>
			</mat-card-content>
			<mat-card-actions>
				<mat-icon svgIcon="forward-arrow">-></mat-icon>
			</mat-card-actions>
		</mat-card>
	</a>
<!-- </ng-container> -->
 
<!-- <mat-card class='footer' align='center'>
  <a style='margin-right: 1vw' mat-icon-button href="https://www.facebook.com/profile.php?id=100005191305022" target="blank">
    <mat-icon svgIcon="fb" style='color:black'>FB</mat-icon>
  </a>
  
  <a style='margin-left: 1vw' mat-icon-button href="https://www.instagram.com/hopeuni/" target="blank">
    <mat-icon svgIcon="ig" style='color:black'>IG</mat-icon>
  </a>
</mat-card> -->

<!--
<div>Icons made by
  <a href="https://www.flaticon.com/authors/bogdan-rosu" title="Bogdan Rosu">Bogdan Rosu</a> from
  <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
  <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
    target="_blank">CC 3.0 BY</a>
</div>

<div>Icons made by
  <a href="https://www.flaticon.com/authors/bogdan-rosu" title="Bogdan Rosu">Bogdan Rosu</a> from
  <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
  <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
    target="_blank">CC 3.0 BY</a>
</div> 
-->
