<!-- <ng-container *ngIf="isLoggedIn()"> -->
	<mat-card class = 'countdown'>
		<app-countdown #countdownTimer></app-countdown>
	</mat-card> 
	<mat-card class = 'full'>
		<app-announcements></app-announcements>
	</mat-card>
	<mat-card class = 'full'>
		<app-schedule (countdownTo)="countdownTo($event)"></app-schedule>
	</mat-card> 
<!-- </ng-container> 

<ng-container *ngIf="!isLoggedIn()">
	<div class ='login'>
		<img [src]='logoSrc'>
		<a [href]="getLoginUrl()"><button mat-raised-button class='google-login'> <mat-icon class="larger" svgIcon="google-logo">G</mat-icon> <span class='text'> Login With Google </span></button></a>
		<p class='notice'> This app isn't verified -> advanced -> proceed </p>
	</div>
</ng-container> -->	
